{% extends 'index.html' %}

{% block content %}

{% with messages = get_flashed_messages() %} {% if
  messages %} {% for msg in messages %}
  <div class="alert">{{msg}}</div>
  {% endfor %} {% endif %} {% endwith %}

<div class="account-section">
    <img class="img" src="{{ image }}" alt="">
    <form class="change-img" method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
          <input type="file" name="file">
          {{ form.submit(class="btn-submit-img") }}
      </form>
    <div class="account-info">
      <h2 class="username">{{ current_user.username }}</h2>
      <p class="email">{{ current_user.email }}</p>
      <h6>Posts: {{ posts }}</h6>
      
    </div>
    
</div>
{% endblock %}
