<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="{{ url_for('static', filename='css/blog-post.css') }}?version=1"
      rel="stylesheet"
    />
    {% if not title %}
    <title>Blog Poster - Flask app</title>
    {% else %}
    <title>{{title}}</title>
    {% endif %}
  </head>

  <body>
    {% block body %}
    <!-- Navigation -->
    <nav>
      <div class="nav-items">
        <div class="brand"><a href="index">Blog Poster</a></div>
        <div class="nav-links">
          {% if not title %}
          <a href="index" style="font-weight: 700">Home</a>
          {% else %}
          <a href="index">Home</a>
          {% endif %} {% if not current_user.is_authenticated %} {% if title ==
          "Login Page" %}
          <a href="login" style="font-weight: 700">Login</a>
          <a href="register">Regsiter</a>
          {% elif title == "Registration page" %}
          <a href="login">Login</a>
          <a href="register" style="font-weight: 700">Regsiter</a>
          {% else %}
          <a href="login">Login</a>
          <a href="register">Regsiter</a>
          {% endif %} {% else %}
          {% if title == 'New Post' %}
          <a href="new" style="font-weight: 700">New Post</a>
          <a href="account">Account</a>
          <a href="logout">Logout</a>
          {% elif title == 'Account page' %}
          <a href="new">New Post</a>
          <a href="account" style="font-weight: 700">Account</a>
          <a href="logout">Logout</a>
          {% else %}
          <a href="new">New Post</a>
          <a href="account">Account</a>
          <a href="logout">Logout</a>
          {% endif %}
          {% endif %}
        </div>
        <i class="fa fa-bars" id="hamburger" aria-hidden="true"></i>
      </div>
    </nav>

    {% endblock %}
    <!-- Page Content -->
    {% block content %} {% with messages = get_flashed_messages() %} {% if
    messages %} {% for msg in messages %}
    <div class="alert">{{msg}}</div>
    {% endfor %} {% endif %} {% endwith %}
    
    <div class="container">
      <div class="row">
        {% for post in posts %}
        <div class="post">
          <h1 class="title">{{post.title}}</h1>
          <p class="content">{{ post.content }}</p>
          <div class="post-info">
            <hr>
            <div class="post-info-user">
              <img class="profile-img" src="{{url_for('static', filename=post.author.profile_image)}}" alt="" />
              <p class="author">{{post.author.username}}</p>
            </div>
            <div class="post-actions">
              <p>{{post.date_posted.strftime('%b %d - %I:%M %p')}}</p>
              {% if current_user.id == post.author.id %}
              <a href="delete/{{ post.id }}" class="btn-del">Delete </a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %} {% block footer %}
    <footer>
      <p>Copyright &copy; Post blog by Flask 2020</p>
    </footer>
    {% endblock %}
  </body>
</html>
