{% extends 'index.html' %}


{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, msg in messages %}
          <div class="alert alert-{{category}}" style="margin-top:5px">{{msg}}</div>
        {% endfor %}
      {% endif %}
  {% endwith %}

    <form class="col-md-4 mx-auto" action="" method="post" style="background-color: rgba(31, 31, 25, 0.7); border-radius: 20px; color:white; margin-top:10vh">
      {{ form.hidden_tag() }}
      <fieldset class="form">
        <legend>Log in here</legend>
        <div class="form-group">
          {{ form.username.label(class="form-control-label") }}
          {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
            {{ form.username(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-control-label") }}
          {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
            {{ form.password(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <span>Create an Account <a href="register">click here</a></span><br><br>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </fieldset>
    </form>

{% endblock %}
