{% extends 'index.html'%} {% block content %}
<div class="post-section">
  <div class="cards">
    <div class="left">
      <h1>Share Your </h1>
      <ul>
        <li>Story</li>
        <li>Experience</li>
        <li>Thoughts</li>
        <li>Opinion</li>
      </ul>
    </div>
    <div class="right">
      <form method="post">
        {{ new_post.hidden_tag() }}
          <input class="form-title" type="text" name="title" placeholder="Title">
          <textarea class="form-content" name="content" rows="12" placeholder="Share your story"></textarea>
        {{ new_post.submit(class="btn-submit") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}


